<div class="app-title">D3.js Angular Examples</div>
<nav>
    <a routerLink="/basic-bar">Basic Bar</a>
    <a routerLink="/bar-chart-two">Bar Hover</a>
    <a routerLink="/donut-one">Donut One</a>

    <a routerLink="/basic-line">Basic Line</a>
    <a routerLink="/basic-pie">Basic Pie</a>
    <a routerLink="/basic-scatter">Basic Scatter</a>
    <a routerLink="/responsive-bar">Responsive Bar</a>
    <a routerLink="/basic-map">Basic Map</a>
    <a routerLink="/stacked-bar-tooltip">Stacked Bar w/ Tooltip</a>
</nav>
