:host {
  // border:1px solid red;
  // background-color: lime;
  width: 100%;
  height: 100%;
  font-size: 0.9rem;
  line-height: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}
$text-light: #e6e6e6;
$text-dark: #202020;

a:link {
  text-decoration: none;
  color: #c4c4c4;
  transition: 100ms;
}

a:visited {
  text-decoration: none;
  color: #009f97;
  transition: 100ms;
}

a:hover {
  text-decoration: none;
  color: rgb(42, 82, 134);
  transition: 100ms;
  cursor: default;
}

a:active {
  text-decoration: none;
  color: white;
}

.idea-source {
  font-size: 1.2rem;
  margin-top: 2rem;
}

.intro-banner {
  background-color: #101010;
  color: #bbbbbb;
  width: 100%;
  height: 1.2rem;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.1rem;
}

.bg-splash {
  height: 40rem;
  background-image: url("../../assets/nordic-demo/img/intro-img-dark.png");
  // background: linear-gradient(115deg,rgb(24, 24, 24) 0%, rgb(24, 24, 24) 40%, rgb(16, 33, 101) 80%, rgb(24, 24, 24) 100%);
  color: $text-light;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  position: relative;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.splash-text {
  font-size: 8rem;
  line-height: 1.5rem;
  font-weight: 600;
  text-align: center;
  // padding: 5rem 0rem 3rem 0rem;
  text-shadow: 1px 2px 3px rgb(29, 29, 29);
  }

.intro {
  height: fit-content;

  background: linear-gradient(115deg,rgb(24, 24, 24) 0%, rgb(24, 24, 24) 20%, rgb(20, 26, 54) 80%, rgb(24, 24, 24) 100%);
  color: $text-light;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  position: relative;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 3rem;
  line-height: 1.5rem;
  font-weight: 200;
  text-align: center;
  padding: 5rem 0rem 3rem 0rem;
  text-shadow: 1px 1px 4px rgb(59, 59, 59);
}

.intro-text {
width: 70%;
line-height: 1.2rem;
margin-bottom: 1rem;
font-weight: normal;
}

.music-button {
  width: 6rem;
  height: 2.5rem;
  font-size: 2rem;
  font-weight: 100;
  line-height: 0.8rem;
  margin: 4rem;
  color: $text-light;
  background: linear-gradient(115deg,rgb(225, 225, 225) 0%, rgb(24, 24, 24) 12%, rgb(20, 26, 54) 80%, rgb(24, 24, 24) 100%);
  border: 1px solid rgb(65, 65, 65);
  border-radius: 2px;
  transition: 100ms ease-in;
}

.music-button:hover {
  filter: brightness(115%);
  transition: 100ms ease-in;
}

.fire {
  color: rgb(255, 77, 68);
}


.map-section {
  // border:1px solid red;
  background-color: #6a6a6a;
  width: 100%;
  height: fit-content;
  position: relative;
}

.map-container {
  background-color: #ffdb272b;

  width: 100%;
  height: fit-content;
  position: sticky;
  top: 0;
  left: 0;
}


.big-pane {
  border: 4px solid rgb(33, 145, 97);
  background: linear-gradient(75deg, #ee9ca7, #ffdde1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem;
  height: 10vh;
  width: 80%;
  font-size: 2rem;
  font-weight: 600;
  color: darkslategray;
  text-shadow: 2px 2px 2px black;
}


.info-dialog-container {
  height: fit-content;
  width: 80vw;
  padding: 1.5rem 0.5rem 0.5rem 0.5rem;
  border: 2px solid rgba(81, 88, 121, 0.797);
  border-radius: 2px;
  background-color: rgb(33, 33, 33);
  position: sticky;
  z-index: 10;
  bottom: 5%;
  left: 2%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.title-text-col {
  // border: 1px solid red;
  // background-color: blue;
  display: flex;
  width: 70%;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0rem 0rem 0rem 2rem;
}

.info-title {
  font-size: 2rem;
  color: $text-light;
  line-height: 1.5rem;
  font-weight: 600;
  text-align: start;

  // padding: 5rem 0rem 3rem 0rem;
  text-shadow: 1px 2px 3px rgb(29, 29, 29);
}

.info-img-container {
  height: 100%;
  width: 30%;
  // border: 1px solid red;
  // background-color: blue;
  img {
    width: 100%;
  }
}

.dialog-text {
  margin: 1rem 0rem 1rem 0rem;
  text-align: start;
  font-size: 0.7rem;
  color: $text-light;
  line-height: 1.5rem;
  font-weight: 200;
}
